/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

/* Set site width */
.et_pb_row, .container {
	width: 90%;
}

/* Set cursor for anchors without HREF */
a:not([href]) {
	cursor: default;
}

/* Prevent NAP phone numbers from breaking mid-word */
.nap-item--phone {
	white-space: nowrap;
}

/* Hide empty paragraph tags */
p:empty {
	display: none;
}

/* Remove bottom margin on single post pages */
.single .et_pb_post {
	margin-bottom: 0;
}

/* Remove margin from Brightcove video */
figure.c-brightcove {
	margin: 0;
}

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/

/* Set the root font size */
html {
	font-size: 18px;
}

/* Reset font weight and set default line height */
body, input, textarea, select {
	font-weight: unset;
	line-height: 1.5;
}

/* Set the default p, ol, and ul padding */
p, .et_pb_text ol, .et_pb_text ul {
	padding-bottom: 1.5em;
}

/* Set the default hr styles */
hr {
	border: 0.5px solid rgba(0, 0, 0, 0.2);
}

/* Set the default blockquote margins */
blockquote {
	margin-top: 0;
	margin-bottom: 1.5em;
}
 
/* Set default header styles */
h1, h2, h3, h4, h5, h6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-weight: unset;
	line-height: 1.2;
	overflow-wrap: normal;
}

/* Remove the top padding from a header if it’s the first child */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	padding-top: 0;
}

/* Remove the bottom padding from a header if it’s the last child */
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
	padding-bottom: 0;
}

/* Reset button font weight and line height */
.et_pb_button {
	font-weight: unset;
	line-height: 1.2 !important;
}

/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/

/* Remove max width and padding */
.nf-form-content {
	padding: 0 !important;
	max-width: 100% !important;
}

/* Hide the short form on the contact page */
.page-contact .fl-short-form {
	display: none;
}

/*
|--------------------------------------------------------------------------
| Form Disclaimer
|--------------------------------------------------------------------------
*/
 
.fl-disclaimer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.15s ease-in, max-height 0.15s ease-in 0.15s;
}
 
.fl-disclaimer.active {
  opacity: 1;
  transition: opacity 0.15s ease-out 0.15s, max-height 0.15s ease-out;
}
 
.fl-disclaimer__inner {
  position: relative;
  margin-top: 25px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  font-size: 14px;
  color: black;
  transform: scale(0.95);
  transition: transform 0.15s ease-out;
}
 
.fl-disclaimer.active .fl-disclaimer__inner {
  transform: scale(1);
  transition: transform 0.15s ease-out 0.15s;
}
 
.fl-disclaimer__icon {
  display: inline-block;
  vertical-align: top;
  font-family: dashicons;
}
 
.fl-disclaimer__close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-family: dashicons;
  font-size: 16px;
  cursor: pointer;
  transition: .15s ease-out;
}
 
.fl-disclaimer__close:hover, .fl-disclaimer__close:focus {
  opacity: 0.5;
}

/*
|---------------------------------------
| VFI
|---------------------------------------
*/
/* START: Visual Focus Indicator (VFI) accross entire site. */
a:focus/*Default set by WordPress or Divi.*/, 
form .ninja-forms-field.nf-element[type=button]:focus/*Ninja Form submit button.*/, 
input[type=search]:focus/*Search field.*/, 
form.search-form input.search-submit:focus/*Search button type 1.*/, 
form.et_pb_searchform input.et_pb_searchsubmit:focus/*Search button type 2.*/, 
select:focus/*Select drop down.*/, 
.nf-form-content input:focus/*Form fields and buttons.*/, 
.nf-form-content textarea:focus/*Form textareas.*/, 
.nf-form-content .checkbox-label-focused:after/*Form checkboxes.*/, 
.swiper-buttton-container div:focus/*Carousel buttons.*/ {
    outline: #000 2px dotted!important;
    outline-offset: 0!important;
    box-shadow: 0 0 0 2px #fff!important;
    border-radius: 0!important;
}
.single-post a.et_social_share.keyboard-outline/*Blog share buttons.*/, 
.et_social_icons_container a:focus/*Blog share buttons.*/ {
    outline: #fff 2px dotted!important;
    outline-offset: -4px!important;
}
.dica_divi_carousel a/*Allows VFIs to be seen on carousel links - part 1.*/, 
.et_pb_main_blurb_image a/*Allows VFIs to be seen on blurb links.*/, 
.et_pb_menu__logo a/*Allows VFIs to be seen on logo links - part 1.*/ {
    display: table!important;
}
.et_pb_menu__logo a/*Allows VFIs to be seen on logo links - part 2.*/ {
    outline-offset: -2px!important;
}
.dica_divi_carousel a/*Allows VFIs to be seen on carousel links - part 2.*/, 
.et_pb_image a/*Allows VFIs to be seen on image links.*/ {
    display: inline-block!important;
}
.listradio-wrap .nf-field-element input/*Allows VFIs to be seen on radio buttons.*/ {
    display: initial!important;
}
/* END: Visual Focus Indicator (VFI) accross entire site. */
/*START: Fixes tabbing and Visual Focus Indicators (VFIs) working properly in the main menu (in older sites).*/
.nav li.et-hover>ul {
    opacity: 1;
    visibility: visible;
}
/*END: Fixes tabbing and Visual Focus Indicators (VFIs) working properly in the main menu (in older sites).*/
.fl-cta a {
    text-decoration: underline !important;
    color: #fff !important;
	font-weight:600;
}.fl-cta a:hover {
    text-decoration: none !important;
    color: #fff !important;
	font-weight:600;
}
.fl-darklinks a{
	text-decoration:underline !important;
	font-weight:700;
}
.fl-darklinks a:hover{
	text-decoration:none !important;
	color:#000 !important;
}
/* 
|--------------------------------------------------------------------------
Desktop Header CSS
|--------------------------------------------------------------------------
*/
/* Align menu vertically center */    
.fl-vertical-center{
display: flex;
flex-direction: column;
justify-content: center;
}
.fl-heading h1,.fl-heading h2{padding-top:0px !important;}
.fl-desk-header .et_pb_menu_inner_container {float:right !important;}
.et_mobile_menu li a:hover, .nav ul li a:hover{
background-color:transparent !important;
opacity:1 !important;
}
.fl-desk-header .et_pb_menu__wrap {
    margin: 0px;
}
@media all and (min-width: 981px) and (max-width: 1124px) {
.fl-desk-header li.menu-item--depth-0 {
    padding-right: 10px !important;
}
	.et_pb_column.fl-mobilecolumn01 {
    padding-top: 0px !important;
	}
}
@media all and (min-width: 1125px) {
.fl-desk-header li.menu-item--depth-0 {
    padding-right: 18px!important;
    padding-left: 18px !important;
}
}
@media all and (min-width: 981px) {
.fl-desk-header li.menu-item--depth-0:last-child{
    padding-right: 0px !important;
}
.fl-desk-header .et_pb_menu ul li.current-menu-item a{ color: #0d58a9!important;}
.fl-desk-header .et-menu li li a{padding: 6px 0px !important;}
}
@media (max-width:500px){
	.fl-menu{
		margin-top:-10px !important;
	}
}
/*
|--------------------------------------------------------------------------
| 5. Mobile Header Columns
|--------------------------------------------------------------------------
*/

@media(max-width:980px){
/* For display full width menu */
.fl-mobilecolumn {
position: relative !important;
}
.fl-mobilecolumn .fl-mobilecolumn02 .et_pb_menu_inner_container{
position: static !important;
}

/* For left side content responsive */
.fl-mobilecolumn .fl-mobilecolumn01{
width: calc(100% - 85px) !important;
float: left;
}

/* For right side menu responsive */
.fl-mobilecolumn .fl-mobilecolumn02{
width: 75px !important;
	/*width:50px !important;*/
float: right;
position: static !important;
}
	.fl-mobilecolumn .et_pb_menu ul li.current-menu-item a{ color: #0d58a9!important; }
.fl-menu {
    float: right;
}
.fl-menu .et_pb_menu__wrap {
    margin-right: 0px !important;
}
.sticky-header-1{
	position:fixed !important;
	width:100%;
	z-index:9999 !important;
	top:0px;
}
}
/*--------------------------------------------
          Dropdown menu
---------------------------------------------- */
@media (min-width: 981px){
.fl-banner-btn {
    max-width: 650px;
    width: 90%;
    margin-right: 0;
    margin-left: auto;
}}
.fl-desk-header .et-menu li li a {
    padding: 16px 0px 15px 20px!important;
}
.fl-desk-header .et-menu li li a {
	width:100% !important;
}
.fl-desk-header ul li ul li a {
    width: 100%!important;
}
.fl-desk-header ul li ul li {
    padding: 0px!important;
    width: 100%!important;
}
@media (min-width: 981px){
	.fl-desk-header ul li ul li {
    background-color: #fff;
    padding: 0px!important;
    width: 100%!important;
}
	.fl-desk-header ul li ul li a:hover, .fl-desk-header ul li ul li.current-menu-item a {
    background-color: #0d58a9 !important;
}
.menu-item-has-children .sub-menu {
    width: 250px;
    padding: 0px!important;
}
.fl-desk-header .et-menu li li a {
    padding: 16px 20px 15px 20px!important;
}}
/*-----------------------------
 *   Practice area
 * ---------------------------- */
.fl-pa h2.et_pb_module_header {
    padding-bottom: 10px;
}
/*------------------------------
 *  short form 
 * ------------------
 */

.fl-short-form .nf-form-fields-required {
    text-align: center;
    padding-bottom: 20px;
}
.fl-short-form .nf-row:nth-child(2) .nf-cell {
    width: 99% !important;
}
.fl-short-form a {
    color: #000 !important;
    text-decoration: underline;
}
.fl-short-form a:hover {
    color: #000 !important;
    text-decoration: none;
}
.fl-short-form input[type=button] {
    float: right!important;
    background: #0d58a9!important;
    color: #fff!important;
	font-weight:600;
    border-radius: 0px!important;
    height: auto!important;
    padding: 15px 30px!important;
    font-size: 18px!important;
    cursor: pointer;
	filter:none!important;
	text-transform:uppercase;
}
.fl-short-form input[type=button]:hover {
    float: right !important;
    background: #221e1e!important;
    color: #fff !important;
	font-weight:600;
    border-radius: 0px !important;
    height: auto !important;
    padding: 15px 30px !important;
    font-size: 18px !important;
	filter:none!important;
	text-transform:uppercase;
}
/*--------- For backgroung transparent short form ------------ */

.fl-short-form .nf-row {
background-color: transparent !important;
}
.fl-short-form #nf-form-2_2-cont {
    background-color: transparent !important;
}
/*------------- placeholder ----------------*/

    ::-webkit-input-placeholder { /* Edge */
      color: #000;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #000;
    }

    ::placeholder {
      color: #000;
    }
.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea{
    color:#000 !important;
}
.fl-short-form span.ninja-forms-req-symbol {color: #000 !important;}

.fl-short-form .nf-error-msg, 
.fl-short-form .ninja-forms-req-symbol{
	color:#fff !important;
}
    .fl-short-form .nf-form-content .list-select-wrap .nf-field-element>div, .fl-short-form .nf-form-content input:not([type=button]), .nf-form-content textarea{
		    border: 1px solid #221e1e !important;
}
/*This is for checbox issue in iPhone Device Fixed*/
.checkbox-container .nf-field-element, .listcheckbox-container .nf-field-element input[type="checkbox"]{
opacity: 0;
}
/* START: Fix double checkboxes in some browsers on forms. */
form .list-checkbox-wrap input[type="checkbox"], form .checkbox-wrap input[type="checkbox"] {
    position: absolute;
    left: -9999em;
}
.et_pb_scroll_top.et-pb-icon{
	background:#0d58a9 !important;
}
/*----------------------------
 *    Long Form
 * --------------------------- */
.fl-long-form input[type=button] {
    background: #0d58a9!important;
    color: #fff!important;
	font-weight:600;
    border-radius: 0px!important;
    height: auto!important;
    padding: 15px 30px!important;
    font-size: 18px!important;
    cursor: pointer;
	filter:none!important;
	text-transform:uppercase;
}
.fl-long-form input[type=button]:hover {
    background: #221e1e!important;
    color: #fff !important;
	font-weight:600;
    border-radius: 0px !important;
    height: auto !important;
    padding: 15px 30px !important;
    font-size: 18px !important;
	filter:none!important;
	text-transform:uppercase;
}
.fl-long-form .nf-error-msg, 
.fl-long-form .ninja-forms-req-symbol{
	color:#000 !important;
}
/*-----------------------------
 * Internal page
 * ----------------------------
 */
.fl-breadcrums a {
    color: #fff !important;
    text-decoration: none;
}
.fl-breadcrums a:hover {
    color: #fff !important;
    text-decoration: underline;
}
.fl-sidebar li a:before {
    content: "\45";
    font-family: ETmodules!important;
    position: absolute;
    margin: 0px -25px;
}
.fl-sidebar h4.widgettitle {
    padding-bottom: 15px !important;
}
.fl-sidebar li a:hover {
    text-decoration:underline !important;
}
.fl-sidebar li{
	padding-left:20px !important;
}
.fl-sidebar ul>.current-menu-item>a {
    text-decoration:underline !important;
}
.fl-sidebar ul.sub-menu li {
    margin-bottom: 2px !important;
}
.fl-inner-content .et_pb_row.et_pb_row_0 {
    width: 100% !important;
}
/*
|------------------------------------------------------------------
|          Blog Sidebar Styling
|------------------------------------------------------------------
*/
.fl-blog-sidebar .et_pb_widget {
    float: none;
    width: 100%;
    margin-bottom: 30px !important;
}
.fl-blog-details .et_pb_post{padding-bottom:35px !important;margin-bottom:0px !important;}
.fl-blog-sidebar .widgettitle{padding-bottom:15px !important;}
.fl-blog-sidebar .widget_media_image {max-width: 400px;}
.fl-blog-sidebar a:visited { color: #fff;}
.fl-blog-sidebar::-webkit-input-placeholder {color: #333 !important;font-size:16px;}
.fl-blog-sidebar :-ms-input-placeholder { color: #333 !important;font-size:16px;}
.fl-blog-sidebar ::placeholder {color: #333  !important;font-size:16px;}
.fl-blog-sidebar input[type='submit']:hover{
    background: #286118!important;
    color:#fff !important;
	border:none !important;
}
.fl-blog-details h2.entry-title {
    padding-bottom: 15px !important;
	font-size:35px;
	color: #0d58a9 !important;
}
.fl-inner-content .et_pb_row {
    width: 100% !important;
}
.fl-inner-content .et_pb_row.et_pb_row_2 {
    width: 100% !important;
}
.fl-blog-details h2.entry-title a {
    text-decoration: none !important;
}
.fl-blog-details h2.entry-title a:hover {
    text-decoration: none !important;
	color:#000 !important;
}
.fl-inner-content p.post-meta {
    font-size: 18px !important;
}
.et_pb_title_meta_container a, .et_pb_title_meta_container span {
    color: #000 !important;
}
.post-meta a, .post-meta span {
    color: #000 !important;
}

.fl-blog-sidebar input.search-field{
   padding: 0 14px;
   border: none !important;
   width: 63%;
   height:50px;
   margin-right: 5px;
}
.fl-blog-sidebar input[type='submit']{
	width:32%;
   height:50px !important;
   border-radius: 0px !important;
   font-family: inherit !important;
   font-weight:600;
   font-size:16px;
   line-height: 20px !important;
   cursor: pointer!important;
   background: #0d58a9 !important;
   color: #fff !important;
vertical-align: middle;
	border: 2px solid #0d58a9;
}
.fl-blog-sidebar input[type='submit']:hover{
   background: #fff !important;
	color:#000 !important;
	border-radius:0px;
	border: 2px solid #fff;
}
.et_monarch .et_pb_section .et_social_inline_bottom {
    margin-top: 22px!important;
    margin-bottom: 2px!important;
}
.fl-inner-content h1.entry-title {
    padding-bottom: 10px !important;
	    font-weight: 600;
}
h2.not-found-title {
    padding-bottom: 15px !important;
}
.fl-attorney-form a {
    color: #000 !important;
	text-decoration:underline;
}

.fl-attorney-form a:hover {
    color: #000 !important;
	text-decoration:none;
}
.fl-attorney-form input[type=button]{
	background: #0d58a9!important;
    color: #fff!important;
    border-radius: 0px!important;
    height: auto!important;
    padding: 15px 30px!important;
    font-size: 20px!important;
    cursor: pointer;
}
.fl-attorney-form input[type=button]:hover{
	background: #221e1e!important;
    color: #fff !important;
    border-radius: 0px !important;
    height: auto !important;
    padding: 15px 30px !important;
    font-size: 20px !important;
}
.fl_people_single h2 {
    padding-bottom: 10px !important;
}
.fl-email-btn a.et_pb_button.et_pb_bg_layout_light.et_pb_email_attorney.divi_font_awesome_icon.divi_font_awesome_icon--undefined {
    padding: 15px 30px !important;
}
.fl-email-btn a.et_pb_button.et_pb_bg_layout_light.et_pb_email_attorney.divi_font_awesome_icon.divi_font_awesome_icon--undefined:hover {
    padding: 15px 30px !important;
	background:#221e1e !important;
	border:2px solid #221e1e !important; 
	color:#fff !important;
}
/*--------------------------------
 * Media Query
 * -------------------------------
 */
@media(max-width:980px){
	.fl-short-form .nf-row:last-child .nf-cell {
    width: 100% !important;
}
	.fl-short-form input[type=button]{
		float:left !important;
	}
	.fl-short-form input[type=button]:hover{
		float:left !important;
	}
	}

.fl-disclaimer__icon:before,
.dashicons-info:before {
  content: '\f06a' !important;
  font-family: 'FontAwesome';
}
.dashicons-no-alt:before {
    content: "✖" !important;
  font-family: dashicons !important;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center !important;
    padding: 0px !important;
    font-size: 12px !important;
    cursor: pointer;
    transition: .15s ease-out !important;
}

.fl-long-form #fl-disclaimer__inner {
    margin-left: 1px !important;
    margin-top: 23px !important;
}



.fl-attorney-name h2{
    font-weight:600 !important;
}